<section class="o-masthead js-lazy-bg" data-original="{{ masthead_image }}">
  <div class="o-masthead__inner">
    <header class="o-masthead__title">
      <h1 class="a-heading__h2 o-masthead__title">
        {{ masthead_title }}
      </h1>
      <p class="a-type--xlarge o-masthead__subtitle">
        {{ masthead_subtitle }}
      </p>
    </header>
  </div>
</section>
