<header class="o-header{{ header_variation }}">
  <div class="o-header__logo">
    {% include "@molecules/logo/logo.twig" %}
  </div>

  <div class="o-header__menu-main">
    {{ menu_main }}
  </div>
</header>
